<div class="container">
      <%= render 'layouts/header' %>
<center>
<ul type="none">
	<li><%= link_to image_tag('/images/twitter.jpg', :size => "200x40"), "/auth/twitter" %></li>
	<li><%= link_to image_tag('/images/facebook.jpg', :size => "200x30"), "/auth/facebook" %></li>
</ul>
</center>

<%= render 'layouts/footer' %>
</div>

